{% load static %} {%load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css"
    />
    <link rel="stylesheet" href="../static/css/quanly.css" />
    <title>Trang chủ | Quản lý thiết bị</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-md navbar fixed-top"
      style="background-color: #e6e6e6"
    >
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img
          src="{% static 'imgs/logo.png' %}"
          width="40"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        <span style="font-weight: bold; color: black">Công Ty T&B |</span>
      </a>
      <!-- Site map -->
      <ol class="breadcrumb">
        {% comment %}
        <li class="breadcrumb-item">
          <a href="#"
            ><i class="fa fa-home" aria-hidden="true"></i> Trang chính</a
          >
        </li>
        {% endcomment %}
        <li class="breadcrumb-item active" aria-current="page">
          <i class="fa fa-home" aria-hidden="true"></i> Quản lý thiết bị
        </li>
      </ol>
      <!-- Site map -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle bg-dark"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
            >
              <span class="ml-2" style="color: white"
                >Xin chào, {{user.username}}</span
              >
            </a>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <a
                class="dropdown-item"
                href="{% url 'QLthietbi_app:perform_logout' %}"
                >Đăng xuất</a
              >
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- NavBar END -->
    <!-- Bootstrap row -->
    <div class="row" id="body-row">
      <!-- Sidebar -->
      <div
        id="sidebar-container"
        class="sidebar-expanded d-none d-md-block col-2"
      >
        <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
        <!-- Bootstrap List Group -->
        <ul class="list-group sticky-top sticky-offset">
          <!-- Separator with title -->
          <li
            class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed"
          >
            <small>TRANG CHỦ</small>
          </li>
          <!-- /END Separator -->
          <!-- Menu with submenu -->
          <a
            href="#submenu1"
            data-toggle="collapse"
            aria-expanded="false"
            class="bg-dark list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-dashboard fa-fw mr-3"></span>
              <span class="menu-collapsed">Quản lý thiết bị</span>
              <span class="submenu-icon ml-auto"></span>
            </div>
          </a>
          <!-- Submenu content -->
          <div id="submenu1" class="collapse sidebar-submenu">
            <a
              href="#"
              class="list-group-item list-group-item-action bg-dark text-white"
            >
              <span class="menu-collapsed">Thiết bị</span>
            </a>
            <a
              href="#"
              class="list-group-item list-group-item-action bg-dark text-white"
            >
              <span class="menu-collapsed">Biểu đồ</span>
            </a>
            <a
              href="#"
              class="list-group-item list-group-item-action bg-dark text-white"
            >
              <span class="menu-collapsed">Báo cáo</span>
            </a>
          </div>
          <a
            href="#submenu2"
            data-toggle="collapse"
            aria-expanded="false"
            class="bg-dark list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-user fa-fw mr-3"></span>
              <span class="menu-collapsed">Hồ sơ cá nhân</span>
              <span class="submenu-icon ml-auto"></span>
            </div>
          </a>
          <!-- Submenu content -->
          <div id="submenu2" class="collapse sidebar-submenu">
            <a
              href="#"
              class="list-group-item list-group-item-action bg-dark text-white"
            >
              <span class="menu-collapsed">Settings</span>
            </a>
            <a
              href="#"
              class="list-group-item list-group-item-action bg-dark text-white"
            >
              <span class="menu-collapsed">Password</span>
            </a>
          </div>
          <a href="#" class="bg-dark list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-tasks fa-fw mr-3"></span>
              <span class="menu-collapsed">Tasks</span>
            </div>
          </a>
          <!-- Separator with title -->
          <li
            class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed"
          >
            <small>Cài đặt</small>
          </li>
          <!-- /END Separator -->
          <a href="#" class="bg-dark list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-calendar fa-fw mr-3"></span>
              <span class="menu-collapsed">Calendar</span>
            </div>
          </a>
          <a href="#" class="bg-dark list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-envelope-o fa-fw mr-3"></span>
              <span class="menu-collapsed"
                >Messages
                <span class="badge badge-pill badge-primary ml-2">5</span></span
              >
            </div>
          </a>
          <!-- Separator without title -->
          <li class="list-group-item sidebar-separator menu-collapsed"></li>
          <!-- /END Separator -->
          <a href="#" class="bg-dark list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="fa fa-question fa-fw mr-3"></span>
              <span class="menu-collapsed">Help</span>
            </div>
          </a>
          <a
            href="#"
            data-toggle="sidebar-colapse"
            class="bg-dark list-group-item list-group-item-action d-flex align-items-center"
          >
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span id="collapse-icon" class="fa fa-2x mr-3"></span>
              <span id="collapse-text" class="menu-collapsed">Collapse</span>
            </div>
          </a>
        </ul>
        <!-- List Group END-->
      </div>
      <!-- sidebar-container END -->
      <!-- MAIN -->
      {% include "them_modal.html" %}
      <div class="col py-2">
        <div class="row element-button">
          <div class="col-sm px-3 py-1 pr-1">
            {% comment %}
            <a
              class="btn btn-dark"
              href="{% url 'QLthietbi_app:render_themthietbi' %}"
              ><i class="fa fa-plus" aria-hidden="true"> Thêm mới</i></a
            >
            {% endcomment %}
            <button
              type="button"
              class="btn btn-dark"
              data-toggle="modal"
              data-target="#thietbiModal"
            >
              <i class="fa fa-plus" aria-hidden="true"> Thêm mới</i>
            </button>
            <button
              type="button"
              name="delete"
              class="btn btn-dark"
              onclick="deleteSelectedItems()"
            >
              <i class="fa fa-trash-o" aria-hidden="true"> Xóa nhiều</i>
            </button>
            <a
              class="btn btn-dark"
              href="{% url 'QLthietbi_app:tao_file_txt' %}"
              ><i class="fa fa-file-text-o" aria-hidden="true">
                Tạo file.txt</i
              ></a
            >
            <a
              class="btn btn-dark"
              href="{% url 'QLthietbi_app:tao_file_csv' %}"
              ><i class="fa fa-file-excel-o" aria-hidden="true">
                Tạo file.csv</i
              ></a
            >

            <div class="row px-1 py-3">
              <div class="table-responsive">
                <table
                  id="device-table"
                  class="table table-sm table-striped bg-light table-condensed table-bordered"
                  cellspacing="0"
                  width="100%"
                >
                  <caption>
                    <form
                      method="get"
                      id="thietbifilter"
                      data-device-url="{% url 'QLthietbi_app:ajax_load_phong' %}"
                    >
                      {% csrf_token %} {% for field in myFilter.form %}
                      <a>&nbsp{{ field.label_tag }}</a>&nbsp{{ field }}&nbsp
                      {%endfor %}
                      <button type="submit" class="btn btn-dark">
                        <i class="fa fa-filter" aria-hidden="true"> Lọc</i>
                      </button>
                      <a
                        href="{% url 'QLthietbi_app:render_trangchinh' %}"
                        class="btn btn-dark"
                        ><i class="fa fa-refresh" aria-hidden="true"></i> Làm
                        mới</a
                      >
                    </form>
                  </caption>
                  <thead class="thead-dark">
                    <tr id="chk-th">
                      <th>Mã thiết bị</th>
                      <th>Tên thiết bị</th>
                      <th>Hình ảnh</th>
                      <th>Loại thiết bị</th>
                      <th>Tầng</th>
                      <th>Phòng</th>
                      <th>Trạng thái</th>
                      <th>Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% csrf_token %} {% for ThietBi in listThietBi %}
                    <tr>
                      <td>
                        <input
                          class="form-check-input checkbox-large"
                          type="checkbox"
                          name="instance"
                          value="{{ThietBi.id_thiet_bi}}"
                        />
                        <a
                          href="{% url 'QLthietbi_app:render_chitietthietbi' ThietBi.id_thiet_bi %}"
                          class="a-td"
                        >
                          {{ThietBi.id_thiet_bi}}
                        </a>
                      </td>
                      <td>
                        <a
                          href="{% url 'QLthietbi_app:render_chitietthietbi' ThietBi.id_thiet_bi %}"
                          class="a-td"
                          >{{ThietBi.ten_thiet_bi}}</a
                        >
                      </td>
                      <td>
                        <a
                          href="{% url 'QLthietbi_app:render_chitietthietbi' ThietBi.id_thiet_bi %}"
                          class="a-td"
                          ><img
                            src="{{ThietBi.hinh_anh.url}}"
                            width="100"
                            height="100"
                        /></a>
                      </td>
                      <td>{{ThietBi.loai_thiet_bi}}</td>
                      <td>Tầng {{ThietBi.tang}}</td>
                      <td>Phòng {{ThietBi.phong}}</td>
                      {% if ThietBi.tinh_trang == "hoatdong" %}
                      <td>
                        <span class="badge badge-success"
                          ><i class="fa fa-signal" aria-hidden="true"></i> Hoạt
                          động</span
                        >
                      </td>
                      {% elif ThietBi.tinh_trang == "dangbaotri" %}
                      <td>
                        <span class="badge badge-warning"
                          ><i class="fa fa-cog" aria-hidden="true"></i> Bảo
                          trì</span
                        >
                      </td>
                      {% else %}
                      <td>
                        <span class="badge badge-danger"
                          ><i class="fa fa-spinner" aria-hidden="true"></i>
                          Hỏng</span
                        >
                      </td>
                      {% endif %}
                      <td>
                        <a
                          href="{% url 'QLthietbi_app:render_chitietthietbi' ThietBi.id_thiet_bi %}"
                          class="btn btn-outline-dark"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Thông tin thiết bị"
                          ><i class="fa fa-info-circle" aria-hidden="true"></i
                        ></a>
                        <a
                          href="{% url 'QLthietbi_app:render_chinhsuathietbi' ThietBi.id_thiet_bi %}"
                          class="btn btn-outline-dark"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Chỉnh sửa thiết bị"
                          ><i
                            class="fa fa-pencil-square-o"
                            aria-hidden="true"
                          ></i
                        ></a>
                        <a
                          href="{% url 'QLthietbi_app:render_xoathietbi' ThietBi.id_thiet_bi %}"
                          class="btn btn-outline-dark"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Xóa thiết bị"
                          ><i class="fa fa-trash-o" aria-hidden="true"></i
                        ></a>
                        <a
                          href="#"
                          class="btn btn-outline-dark"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Tạo báo cáo thiết bị"
                          ><i class="fa fa-wpforms" aria-hidden="true"></i
                        ></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Main Col END -->
        </div>
        <!-- body-row END -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script>
          $("#thietbifilter #id_tang").change(function () {
            var url = $("#thietbifilter").attr("data-device-url");
            var tangId = $(this).val();
            if (tangId == "") {
              $("#thietbifilter #id_phong").html(
                "<option value=''>---------</option>"
              );
              return;
            }
            $.ajax({
              url: url,
              data: {
                tang_id: tangId,
              },
              success: function (data) {
                $("#thietbifilter #id_phong").html(data);
              },
            });
          });
          $("#thietbiform #id_tang").change(function () {
            var url = $("#thietbiform").attr("data-device-url");
            var tangId = $(this).val();
            if (tangId == "") {
              $("#thietbiform #id_phong").html(
                "<option value=''>---------</option>"
              );
              return;
            }
            $.ajax({
              url: url,
              data: {
                tang_id: tangId,
              },
              success: function (data) {
                $("#thietbiform #id_phong").html(data);
              },
            });
          });
          $("#suathietbiform #id_tang").change(function () {
            var url = $("#suathietbiform").attr("data-device-url");
            var tangId = $(this).val();
            if (tangId == "") {
              $("#suathietbiform #id_phong").html(
                "<option value=''>---------</option>"
              );
              return;
            }
            $.ajax({
              url: url,
              data: {
                tang_id: tangId,
              },
              success: function (data) {
                $("#suathietbiform #id_phong").html(data);
              },
            });
          });
          $.when(
            $("#thietbifilter #id_tang").trigger("change"),
            $("#thietbiform #id_tang").trigger("change"),
            $("#suathietbiform #id_tang").trigger("change")
          ).done(function (filter_data, them_data, sua_data) {
            console.log(filter_data);
            console.log(them_data);
            console.log(sua_data);
          });
        </script>
        <script>
          $(function () {
            $('[data-toggle="tooltip"]').tooltip();
          });
        </script>
        <script>
          function deleteSelectedItems() {
            if (confirm("Bạn có chắc chắn muốn xóa?")) {
              var selectedItems = [];
              var csrf = $("input[name=csrfmiddlewaretoken]").val();
              $("input:checkbox[name=instance]:checked").each(function () {
                selectedItems.push($(this).val());
              });
              if (selectedItems.length == 0) {
                alert("Bạn chưa chọn thiết bị nào!");
                return;
              } else {
                console.log(selectedItems);
                $.ajax({
                  url: ".",
                  type: "POST",
                  data: {
                    selectedItems,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                  },
                  success: function (data) {
                    if (data["status"] == "success") {
                      location.reload();
                    } else {
                      location.reload();
                    }
                  },
                });
              }
            }
          }
        </script>
        <!-- Data Table -->
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
        <script>
          $(document).ready(function () {
            $("#device-table").DataTable({
              lengthMenu: [5, 15, 25, 50], // Các tùy chọn giới hạn số lượng mục trên bảng
              language: {
                lengthMenu: "Hiển thị _MENU_ thiết bị",
                info: "Hiển thị từ _START_ đến _END_ của _TOTAL_ thiết bị",
                infoEmpty: "Hiển thị từ 0 đến 0 của 0 thiết bị",
                infoFiltered: "(lọc từ _MAX_ thiết bị)",
                search: "Tìm kiếm:",
                paginate: {
                  first: "Đầu",
                  last: "Cuối",
                  next: "Tiếp",
                  previous: "Trước",
                },
                zeroRecords: "Không tìm thấy thiết bị",
                emptyTable: "Không có dữ liệu trong bảng",
                loadingRecords: "Đang tải...",
                processing: "Đang xử lý...",
                aria: {
                  sortAscending: ": Sắp xếp tăng dần",
                  sortDescending: ": Sắp xếp giảm dần",
                },
              },
              columnDefs: [
                { orderable: false, targets: 6 }, // Không cho phép sắp xếp cột thao tác
              ],
              order: [[0, "asc"]], // Sắp xếp cột đầu tiên theo thứ tự tăng dần
              //"dom": '<"top"l>rt<"bottom"ip><"clear">' // Định dạng các thành phần của bảng
            });
          });
        </script>
        <!-- Menu Toggle Script -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
        <script>
          // Hide submenus
          $("#body-row .collapse").collapse("hide");

          // Collapse/Expand icon
          $("#collapse-icon").addClass("fa-angle-double-left");

          // Collapse click
          $("[data-toggle=sidebar-colapse]").click(function () {
            SidebarCollapse();
          });

          function SidebarCollapse() {
            $(".menu-collapsed").toggleClass("d-none");
            $(".sidebar-submenu").toggleClass("d-none");
            $(".submenu-icon").toggleClass("d-none");
            $("#sidebar-container").toggleClass(
              "sidebar-expanded sidebar-collapsed"
            );

            // Treating d-flex/d-none on separators with title
            var SeparatorTitle = $(".sidebar-separator-title");
            if (SeparatorTitle.hasClass("d-flex")) {
              SeparatorTitle.removeClass("d-flex");
            } else {
              SeparatorTitle.addClass("d-flex");
            }
            // Collapse/Expand icon
            $("#collapse-icon").toggleClass(
              "fa-angle-double-left fa-angle-double-right"
            );
          }
        </script>
      </div>
    </div>
  </body>
</html>
